/* 
    Document   : Master.css
    Created on : 02-abr-2012, 12:04:11
    Author     : IsmiKin
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body
{
    height:100%;
    width:100%;
    
    background-color:#EAEAEA;   
    font-size: 13px;
    font-family: Arial, SunSans-Regular, Sans-Serif;
    padding:0;
    margin:0;
    
}


#cabecera
{
    width:100%;
    height:40px;
    padding:10px;
    margin:0;
    background-color:#3B5998;
    position: fixed;
    z-index:998;   
}

#logoContainer{
    float: left;
    width:200px;
    height:50px;
    padding:0;
    margin:0;
}
#logo
{
    width:200px;
    height:50px;
}

#topnav
{
    float:left;
    position:fixed;
}

h1{
    font-size: 30px;
}

#leftbar
{
    position:relative; 
    
    display:block;  
    border:0px solid #222;     
    font:16px Tahoma, Sans-serif;
}

#leftbar li
{
    margin-left: 10px;
    width:inherit;
    color:black; 
    text-decoration:none;
}

#leftbar li:hover
{
    background-color: #262626;
}


#leftbar ul
{
    padding:0; 
    margin:0;
}


#container
{
    position:relative;
    float:left;
    top:60px;
    
    width:100%;
    height:100%;
    margin-bottom: 10px;
    margin: 0 auto;
     
    z-index:100;
}

#containerleft{
    position:fixed;
    top:60px;
    left:0px;
    
    width: 200px;
    height:100%;
    margin:0px;
    padding: 0px;
    
    font-family: Georgia,'Times New Roman',times,serif;
    background-color:#DCDCDC;
    z-index:102;
    
        
}

#containercenter
{
    position:relative;
    left:0px;
    
    width:845px;
    height:100%;
    margin:0px;
    padding:10px 210px; /* 210px por ser el tamaño del containerLeft + 10px. */
    
    
    background-color:#EAEAEA; 
    z-index:1;
}

#containeright
{
    position:fixed;  
    top:60px;
    right:0px;
    
    width:200px;
    height:100%;
    padding:0;
    margin:0;
    
    z-index:102;
}