#FacturasNav 
{
    position:relative;
    float:left;
    width:845px;
    height:30px;
    box-shadow:0px 1px 0px gray;
    margin-bottom:5px;
}
#mainFacturasNav
{
    position:relative;
    float:left;
    width:inherit;
    height:inherit;
}
#mainFacturasNav ul
{
    position:relative;
    float:left;
    list-style:none;
}
#mainFacturasNav ul li
{
    padding:0px 2px;
    display:inline;
    color:Gray;
    cursor:pointer;
}
#mainFacturasNav ul li:hover
{
    border-bottom:3px solid gray;   
}
#FacturasFilter
{
    position:relative;
    float:right;
    width:100px;
    padding:3px;
    
    cursor:pointer;
    color:Gray;
    background-color:white;
    
    border:1px solid #D3D3D3;
    border-top-left-radius: 10px;
    -moz-border-radius-topleft:10px 10px;
    
}
#FacturasFilter:hover
{
    border:1px solid #C0C0C0;
    box-shadow:0px -1px 1px #DCDCDC inset;
}
#volverFacturasNav
{
    position:relative;
    float:left;
    width:inherit;
    height:inherit;
}
#volverFacturasNav ul
{
    position:relative;
    float:left;
    list-style:none;
}
#volverFacturasNav ul li
{
    padding:0px 2px;
    display:inline;
    color:Gray;
    cursor:pointer;
}
#volverFacturasNav ul li:hover
{
    border-bottom:3px solid gray;   
}

