#facturaForm
{
    position:relative;
    float:left;
    width:inherit;
}
#facturaHeader
{
    display:block;
    position:relative;
    float:left;
    width:inherit;
    min-height:100px;
    border-bottom:1px solid gray;
}
#relacionesFacturaContainer
{
    position:relative;
    float:right;
}
#conceptoFacturaDiv
{
    position:relative;
    float:left;
    text-align:left;
}

#totalFacturaDiv
{
    position:relative;
    float:right;
    text-align:right;
}
#facturaLineasFacturaGrid
{
    position:relative;
    float:left;
    width:inherit; 
}
#facturaBottom
{
    position:relative;
    float:left;
    margin-top:5px;
    width:inherit;
}
#nuevaLineaButton
{
    position:relative;
    float:left;
    margin:10px;    
    padding:5px;
    
    color:gray;
    
    border:1px solid gray;
    border-radius:5px;
    box-shadow:0px -1px 1px snow inset;
    cursor:pointer;
}
#descartarFacturaButton
{
    position:relative;
    float:left;
    margin-left:10px;    
    padding:5px;
    
    color:gray;
    
    border:1px solid gray;
    border-radius:5px;
    box-shadow:0px -1px 1px snow inset;
    cursor:pointer;
}
#guardarFacturaButton
{
    position:relative;
    float:right;
    margin-right:10px;
    padding:5px;
    
    background-color:gray;
    color:white;
    
    border:1px: solid gray; 
    border-radius:5px;   
    box-shadow:0px -1px 1px #DCDCDC inset;
    cursor:pointer;
    
}
.inputText{
}
